body {
    max-width: 1366px;
    font-family: 'Cabin', sans-serif;
    background: #333300;
    margin-top: 6em;
}

#header {
    background: linear-gradient(to bottom, #333300 0%, #cc3300 50%, #333300 100%);
    position: fixed;
    top: 0;
}

#container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
        "a b b c";
}

#header-img {
    grid-area: a;
    border-radius: 5px;
    height: 80px;
    width: 90px;
}

#d20 {
    grid-area: b;
    justify-self: left;
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
    cursor: default;
}

#nav-bar {
    grid-area: c;
}

#nav-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding-right: 5px;
}

#about1 li a {
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

#selection1 li a {
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

#purchase1 li a {
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

#about1 {
    grid-column: 1 / 2;
}

#about1:hover {
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#selection1 {
    grid-column: 2 / 3;
}

#selection1:hover {
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#purchase1 {
    grid-column: 3 / 4;
}

#purchase1:hover {
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.nav-link {
    text-decoration: none;
    color: black;
}

#list1 {
    list-style-image: none; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 20px;
    grid-area: 1 / 2;
    z-index: 1;
    color: white;
    background: linear-gradient(to bottom,#333300 0%, #cc3300 68%, #333300 100%);
}

#dice1 {
    grid-area: 1 / 2 / 2 / 5;
}

#dice2 {
    grid-area: 2 / 2  / 3 / 5;
}

#dice3 {
    grid-area: 3 / 2 / 4 / 5;
}

#container2 {
    background: linear-gradient(to bottom,#333300 0%, #cc3300 68%, #333300 100%);
    width: 100%;
    height: 250px;
}

#about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
}

iframe {
    grid-column: 2 / 5;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 20px;
    width: 450px;
    height:240px;
}

#form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

#description {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    align-self: center;
    color: white;
}

#email {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    grid-row-gap: -5px;
    border-radius: 5px;
}

#submit {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    color: rgb(161, 59, 59);
}

#submit:hover {
    cursor: pointer;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#purchasing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "a"
    "b"
    "c";
    margin-top: 20px;
}

#low {
    grid-row: a;
}

#mid {
    grid-row: b;
}

#high {
    grid-row: c;
}

.diceBuy {
    color: white;
    justify-self: center;
    display: grid;
}

.dicePic {
    height: 180px;
    width: 180px;
    border: 5px solid rgb(230, 186, 92);
    border-radius: 10px;
}

.dicePic:hover {
    cursor: pointer;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.diceDescription {
    justify-self: center;
}

.pricing {
    justify-self: center;
}

footer {
    height: 8em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #333300 0%, #cc3300 50%, #333300 100%);
}

#footerList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "a b c d e f";
    list-style-type: none;
    grid-gap: 15px;
    justify-items: end;
}

#copyright {
    align-self: center;
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

#privacy {
    grid-area: b;
    cursor: pointer;
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

#terms {
    grid-area: c;
    cursor: pointer;
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

#contact {
    grid-area: d;
    cursor: pointer;
    color: rgb(238, 205, 133);
    text-shadow: 2px 2px 10px red;
}

@keyframes beat {
    0% {
        transform: scale(1);
        top: 0px;
    }
    50% {
        transform: scale(1.1);
        top: 10px;

    }
}

@media (min-width: 768px) {
    .dicePic {
        height: 250px;
        width: 250px;
    }

    #purchasing {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
        "a b c";
    }

    header {
        width: 100%;
    }

    #nav-columns {
        margin-right: 20px; 
    }
}

@media (max-width: 550px) {
    body {
        margin-top: 11em;
    }

    #container1 {
        grid-gap: 5px;
        grid-template-areas:
            ". a b ."
            ". c c .";
    }

    #list1 {
        font-size: 16px;
    }

    iframe {
        height: 170px;
        width: 290px;
    }
}




